{% extends 'templates/default.twig' %}

{% block content %}
	<form action="{{ path_for('article.add.post')}}" method="post">
		<div class="form-group {{ errors.title ? 'has-error' : '' }}">
	      <label for="title">Title</label>
	      <input type="title" class="form-control" name="title" id="title" placeholder="Enter title" value="{{ old.title }}">
	      {% if errors.title %}
		  <span class="help-block">{{errors.title | first}}</span>
		  {% endif %}
	    </div>
	    <div class="form-group {{ errors.content ? 'has-error' : '' }}">
	      <label for="pwd">Content</label>
	      <textarea name="content" class="form-control" id="" cols="30" rows="10">{{ old.content }}</textarea>
	      {% if errors.content %}
		  <span class="help-block">{{errors.content | first}}</span>
		  {% endif %}
	    </div>
	    <div class="form-group {{ errors.image ? 'has-error' : '' }}">
	      <label for="image">Image</label>
	      <input type="text" class="form-control" id="title" name="image" placeholder="Enter image">
	      {% if errors.name %}
		  <span class="help-block">{{errors.name | first}}</span>
		  {% endif %}
	    </div>
	    <div class="form-group">
	      <label for="publish_date">Publish Date</label>
	      <input type="publish_date" class="form-control" name="publish_date" placeholder="Enter publish_date" value="{{ old.publish_date }}">
	    </div>
	    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
{% endblock %}